TestDemo/Service References/RakeBackService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBankInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankInfo" nillable="true" type="tns:BankInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankInfo" nillable="true" type="tns:ArrayOfBankInfo" />
  <xs:complexType name="BankInfo">
    <xs:sequence>
      <xs:element name="bankName" nillable="true" type="xs:string" />
      <xs:element name="bankValue" nillable="true" type="xs:string" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankInfo" nillable="true" type="tns:BankInfo" />
</xs:schema>