TestDemo/Service References/RakeBackService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="GetBankList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetBankListResult" nillable="true" type="q1:ArrayOfBankInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankPager">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankPagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetBankPagerResult" nillable="true" type="q2:TupleOfintArrayOfBankInfozsY_SOkxf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="info" nillable="true" type="q3:BankInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBankResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>