TestDemo/Service References/RakeBackService/RakeBackService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RakeBackService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRakeBackService_GetBankList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankList" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetBankList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankListResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetBankPager_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankPager" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetBankPager_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankPagerResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_AddBank_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBank" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_AddBank_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBankResponse" />
  </wsdl:message>
  <wsdl:portType name="IRakeBackService">
    <wsdl:operation name="GetBankList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/GetBankList" message="tns:IRakeBackService_GetBankList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/GetBankListResponse" message="tns:IRakeBackService_GetBankList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankPager">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/GetBankPager" message="tns:IRakeBackService_GetBankPager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/GetBankPagerResponse" message="tns:IRakeBackService_GetBankPager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBank">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/AddBank" message="tns:IRakeBackService_AddBank_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/AddBankResponse" message="tns:IRakeBackService_AddBank_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRakeBackService" type="tns:IRakeBackService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBankList">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/GetBankList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankPager">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/GetBankPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBank">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/AddBank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RakeBackService">
    <wsdl:port name="BasicHttpBinding_IRakeBackService" binding="tns:BasicHttpBinding_IRakeBackService">
      <soap:address location="http://localhost:8080/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>